In [2]:
import pandas as pd
from ast import literal_eval
import numpy as np

In [3]:
df = pd.read_csv('wondoofin.csv')

In [4]:
df.columns

Index(['id', '이름', '로스터리', '타입', '로스팅 포인트', '지속가능성', '컵 노트', '바디감', '신맛', '단맛',
       '쓴맛', '커피 소개', '나라', '로스터리 소개', '로스터리 주소', '이름.1', '식품의 유형',
       '제조원 및 소재지', '유통기한', '제조일자', '내용량', '보관 방법', '원재료 및 함량',
       '제품문의 관련 주소 및 전화번호', '카페인', '로스터리ID'],
      dtype='object')

*** 
카테고리화 하기
***

* concat_category 데이터프레임에서 pk, name만 가져오고 'notes와' 'note_idx'열을 만들어 데이터프레임(df)의 틀을 만든다.
df = cat_info[['pk', 'name']]
df.rename({'pk': 'category_idx', 'name': 'category'}, axis=1, inplace=True)
df['notes'] = None
df['note_idx'] = None

df.head(3)

In [ ]:
catdf = pd.DataFrame(columns=['CategoryIdx', 'Category', 'CupNotes'])
catdf.head()

Empty DataFrame
Columns: [CategoryIdx, Category, CupNotes]
Index: []

In [ ]:
catdf['CategoryIdx'] = [0,1,2,3,4,5,6]
catdf

   CategoryIdx Category CupNotes
0            0      NaN      NaN
1            1      NaN      NaN
2            2      NaN      NaN
3            3      NaN      NaN
4            4      NaN      NaN
5            5      NaN      NaN
6            6      NaN      NaN

In [ ]:
catdf['Category'] = ['꽃', '과일', '허브', '달콤함', '고소함', '향료_풍미', '초콜릿']
catdf

   CategoryIdx Category CupNotes
0            0        꽃      NaN
1            1       과일      NaN
2            2       허브      NaN
3            3      달콤함      NaN
4            4      고소함      NaN
5            5    향료_풍미      NaN
6            6      초콜릿      NaN