In [2]:
import pandas as pd
import numpy as np

In [3]:
data  = pd.read_csv('feature.csv')
data = data.rename(columns={"Unnamed: 0": "ID"})

In [4]:
data.head()

     ID          coffee_name    타입 로스팅 포인트 지속가능성         컵 노트  바디감  신맛  단맛  쓴맛
0  1084  에티오피아 G2 시다모 SW 디카프  디카페인     미디엄   NaN  오렌지, 다크 초콜릿    2   3   3   2
1  4699              마일드 블렌딩   블렌드   미디엄다크   NaN            -    3   2   3   3
2  1727           Blend Dark   블렌드      다크   NaN            -    4   1   3   5
3  3072             샹젤리제 블렌딩   블렌드  라이트미디엄   NaN            -    2   4   5   2
4  3217         Hammock (해먹)   블렌드     미디엄   NaN            -    4   1   4   2

In [5]:
data.info()

# 지속가능성 : (559-113) / 559 is null
# 컵 노트 : '-' 인 값도 null -> 갯수 확인 필요

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           559 non-null    int64
 1   coffee_name  559 non-null    object
 2   타입           559 non-null    object
 3   로스팅 포인트      559 non-null    object
 4   지속가능성        113 non-null    object
 5   컵 노트         559 non-null    object
 6   바디감          559 non-null    int64
 7   신맛           559 non-null    int64
 8   단맛           559 non-null    int64
 9   쓴맛           559 non-null    int64
dtypes: int64(5), object(5)
memory usage: 43.8+ KB

In [6]:
from collections import Counter
Counter(data['지속가능성'])
# 
# NaN : 446
# 직접무역 : 53
# 공정무역 : 45
# 유기농 : 15
#

Counter({nan: 446, '직접무역': 53, '공정무역': 45, '유기농': 15})

In [7]:
####### change 컵 노트 '-' to nan #######
data['컵 노트'].replace('-', np.NaN, inplace=True)
####### change 컵 노트 from string to list #######
data['컵 노트'] = data['컵 노트'].str.split(',')

In [8]:
data.head()

,ID,coffee_name,타입,로스팅 포인트,지속가능성,컵 노트,바디감,신맛,단맛,쓴맛
0,1084,에티오피아 G2 시다모 SW 디카프,디카페인,미디엄,NaN,"[오렌지, 다크 초콜릿]",2,3,3,2
1,4699,마일드 블렌딩,블렌드,미디엄다크,NaN,NaN,3,2,3,3
2,1727,Blend Dark,블렌드,다크,NaN,NaN,4,1,3,5
3,3072,샹젤리제 블렌딩,블렌드,라이트미디엄,NaN,NaN,2,4,5,2
4,3217,Hammock (해먹),블렌드,미디엄,NaN,NaN,4,1,4,2

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           559 non-null    int64
 1   coffee_name  559 non-null    object
 2   타입           559 non-null    object
 3   로스팅 포인트      559 non-null    object
 4   지속가능성        113 non-null    object
 5   컵 노트         178 non-null    object
 6   바디감          559 non-null    int64
 7   신맛           559 non-null    int64
 8   단맛           559 non-null    int64
 9   쓴맛           559 non-null    int64
dtypes: int64(5), object(5)
memory usage: 43.8+ KB

In [14]:
data.to_csv('feaures_fin.csv', index=False)

In [15]:
df = pd.read_csv('feaures_fin.csv')
df.head()

,ID,coffee_name,타입,로스팅 포인트,지속가능성,컵 노트,바디감,신맛,단맛,쓴맛
0,1084,에티오피아 G2 시다모 SW 디카프,디카페인,미디엄,NaN,"['오렌지', ' 다크 초콜릿']",2,3,3,2
1,4699,마일드 블렌딩,블렌드,미디엄다크,NaN,NaN,3,2,3,3
2,1727,Blend Dark,블렌드,다크,NaN,NaN,4,1,3,5
3,3072,샹젤리제 블렌딩,블렌드,라이트미디엄,NaN,NaN,2,4,5,2
4,3217,Hammock (해먹),블렌드,미디엄,NaN,NaN,4,1,4,2

***

In [135]:
a = {999 : {'country' : '에티오피아 어쩌고, 서울 바보'}, 888 : {'country':'서울 어쩌고, 에티오피아 바보'}}
df = pd.DataFrame(a)
df = df.T

df['country'] = df['country'].str.split(',')

In [136]:
df['country'][999]

['에티오피아 어쩌고', ' 서울 바보']

In [137]:
df

                 country
999  [에티오피아 어쩌고,  서울 바보]
888  [서울 어쩌고,  에티오피아 바보]

In [138]:
# 칼럼 내 스트링을 리스트로 치환
country_list = ['서울', '에티오피아']

In [139]:
df

                 country
999  [에티오피아 어쩌고,  서울 바보]
888  [서울 어쩌고,  에티오피아 바보]

In [140]:
def replace_country_names(countries):
    updated_countries = [next((country for country in country_list if country in entry), entry) for entry in countries]
    return updated_countries

# Apply the function to the 'country' column
df['country'] = df['country'].apply(replace_country_names)

# Print the updated DataFrame
print(df)

         country
999  [에티오피아, 서울]
888  [서울, 에티오피아]

In [141]:
# 국가 지역 : 548개
for id in df['id']: # index
    for country in country_list:
        for k in range(len(df['country'][id])):
            if country in df['country'][id][k]:
                df['country'][id][k] = country

KeyError: 'id'